.heading{
    font-size: 23px;
    margin: 0px;
    width: 100%;
    box-shadow: 5px 5px 5px black;
}

.note{
    font-size: 18px;
    color: black;
}

.copy_footer{
    position: fixed;
    color: darkslategrey;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    line-height: 3;
   
}

canvas{
    border: 5px  white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}